name: CI - SAST & SCA

on:
  push:
  pull_request:

jobs:
  sast-sca:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install deps
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install semgrep bandit pip-audit

      - name: Semgrep SAST
        run: |
          semgrep --config .semgrep.yml --error

      - name: Bandit SAST
        run: |
          bandit -r . -x .venv -ll

      - name: SCA - pip-audit
        run: |
          pip-audit
