name: DAST - ZAP Baseline

on:
  workflow_dispatch:

jobs:
  zap:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Start app
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          nohup python app.py > server.log 2>&1 &
          sleep 5

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.12.0
        with:
          target: 'http://127.0.0.1:5000'
          rules_file_name: ''
          cmd_options: '-a'
